<a href="https://colab.research.google.com/github/DarkStar1709/CS114.L21/blob/main/colab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd /content/drive/MyDrive/CS114/

/content/drive/MyDrive/CS114

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [58]:
score = pd.read_csv('score_training.csv')
score_new = score[['id','CK']]
wecode = pd.read_csv('wecode.csv') 
wecode_new = wecode[['user_id', 'assignment_id', 'problem_id', 'is_final', 'status', 'pre_score', 'coefficient']]

df = score_new.set_index('id').join(wecode_new.set_index('user_id'))

In [59]:
df.head(10)

     CK  assignment_id  problem_id  ...             status pre_score  coefficient
22  8.5            NaN         NaN  ...                NaN       NaN          NaN
24  9.5            8.0        12.0  ...              SCORE   10000.0          100
24  9.5            8.0        16.0  ...              SCORE   10000.0          100
24  9.5            8.0        14.0  ...  Compilation Error       0.0          100
24  9.5            8.0        14.0  ...              SCORE   10000.0          100
24  9.5            8.0        38.0  ...  Compilation Error       0.0          100
24  9.5            8.0        38.0  ...              SCORE   10000.0          100
24  9.5            8.0        15.0  ...              SCORE   10000.0          100
24  9.5            8.0        19.0  ...              SCORE   10000.0          100
24  9.5            8.0        17.0  ...              SCORE   10000.0          100

[10 rows x 7 columns]

In [60]:
x = df['CK']
y = df.groupby(by = id)
y.head(5)

       CK  assignment_id  problem_id  ...             status pre_score  coefficient
22    8.5            NaN         NaN  ...                NaN       NaN          NaN
24    9.5            8.0        12.0  ...              SCORE   10000.0          100
24    9.5            8.0        16.0  ...              SCORE   10000.0          100
24    9.5            8.0        14.0  ...  Compilation Error       0.0          100
24    9.5            8.0        14.0  ...              SCORE   10000.0          100
...   ...            ...         ...  ...                ...       ...          ...
1865  7.5          296.0       365.0  ...              SCORE   10000.0          100
1865  7.5          296.0       364.0  ...              SCORE       0.0          100
1865  7.5          296.0       364.0  ...              SCORE    1428.0          100
1865  7.5          296.0       364.0  ...              SCORE    1428.0          100
1866    5            NaN         NaN  ...                NaN       NaN          NaN

[181495 rows x 7 columns]